*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
body{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
/* Header style */

.outer_wrapper{
    background-color: black;
    color: #fff;
    font-weight: 200;
    font-size: 0.75em;
}
.first_wrapper ul{
 display: flex;
 -webkit-box-pack: justify;
 justify-content: space-between;
}
.second_wrapper{
    width: 980px;
	padding: 0 10px;
	margin: 0 auto;
}
.third_wrapper ul li a {
    text-decoration: none;
    color: #f5f5f7;
}

.outer_wrapper ul{
    list-style: none;
}
.third_wrapper ul li {
    display: inline-block;
    height: 25px;
  padding: 14px 0 8px;
  opacity: 0.8;
}
.third_wrapper ul li:hover{
    opacity: 1;
}
.logo, .search, .cart{
    width: 18px;	
	display: block;
    
}
.description{
    padding: 25px 0;
    text-align: center;
    background: #fafafa;
}
.link ul{
    
    list-style: none;
    
}
.mac{
    font-size: .85em;
}
.model{
    font-weight: 700;
	font-size: 56px;
}
.best{
    font-size: 2em;
}
.link{
    padding: 15px 0;
}
.link ul li{
    display: inline-block;
    padding-right: 20px;
}
.link ul li a{
    color: blue;
    text-decoration: none;
}
.link ul li a:hover{
    color: black;
}
.link ul li a:after {
    font-family: "FontAwesome";
    content: "\f105";    
    padding-left: 10px;
}
.laptop{
    background-color: #fafafa;
    text-align: center;   
}

.eleven{
    text-align: center;
    background-image: url("home/iphone11-pro-bg.jpg");
    height: 580px;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    padding: 65px 0;
    color: #fff;
}
.pro{
    font-weight:600;
    font-size: 56px;
}
.desc{
    padding-top: 10px;
    font-size: 1.4em;
}
.price{
    padding: 10px ;
    font-size: 0.85em;
    opacity: 0.5;
}
.links{
    list-style: none;
}
.links ul li{
    display: inline-block;
    padding-right: 15px;
}
.links ul li a{
    color: rgb(51, 148, 189);
    text-decoration: none;
}
.links ul li a:hover{
    color: white;
}
.links ul li a:after{
    font-family: "FontAwesome";
    content: "\f105";    
    padding-left: 10px;

}
.boom{
    text-align: center;
    background-image: url("home/iphone11-bg.jpg");
    height: 580px;
    background-size: cover;
    background-position: center;
    background-repeat: none;
}
.one{
    font-weight: 600;
    font-size: 58px;
    padding: 35px 0px  10px;
}
.two{
    font-size: 1.4em;
}
.four{
    font-size: 0.85em;
    opacity: 0.5;
    padding: 10px;
  
}
.five ul li{
    display: inline-block;
    padding-right: 10px;

}
.five ul li a{
    color: blue;
    text-decoration: none;
}
.five ul li a:hover{
    color: black;
}
.five ul li a:after{
    font-family: "FontAwesome";
    content: "\f105";    
    padding-left: 10px;
}
.watch_card {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.first1{
    background-image: url("home/watch-series-5.jpg");
    height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	width: 48.5%;
	margin: 1% 0.5% 0% 1%; 
	padding-top: 54px;
}
.aa ul li{
    display: inline-block;
    padding: 20px 10px;
}
.aa ul li a{
    text-decoration: none;
}
.aa ul li a:after{
    font-family: "FontAwesome";
   
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
    
}
.feature{
    padding: 10px 20px;
    font-size: 1.2em;
}